<div class="container">
  <div class="row text-center justify-content-center mt-5">
    <h2>Account Login</h2>
    <form class="d-flex flex-column align-items-center">
      <div class="mb-3 col-5">
        <label for="emailInput" class="form-label"></label>
        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Email"
          required>
      </div>
      <div class="mb-3 col-5">
        <label for="passwordInput" class="form-label"></label>
        <input type="password" class="form-control" id="passwordInput" placeholder="Password" required>
      </div>
      <button type="submit" class="btn btn-outline-primary mt-3">Sign in</button>
    </form>
  </div>
</div>